@{
    ViewBag.Title = "About company";
}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/h2o.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Balsu</h5>
                        <p class="card-text font-size-min">
                            ТОО "Жеті сүт" является одним из ведущих производителей экологически чистой природной
                            питьевой воды действующего под торговой маркой «Balsu». При производстве воды "Balsu"
                            выдержаны все нормы государственного стандарта качества и требования санитарно-эпидемиологической службы.
                            Источником природной воды "Balsu" является собственная скважина №428. Технология очистки воды основана
                            на принципе обратного осмоса. <br/>Наша компания имеет собственную производственную базу и систему логистики,
                            состоящую из транспорта, складов, налаженных потоков, компьютерной системы управления и контроля за
                            качеством воды. За долгие годы успешной работы торговая марка воды «Balsu» зарекомендовала себя как
                            высококачественный востребованный продукт.
                        </p>
                        <a href="http://balsu.kz/" target="_blank" class="btn btn-primary">Переход на сайт</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/water-man.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">"ВОДА ХРУСТАЛЬНАЯ"</h5>
                        <p class="card-text">
                            ТОО «Golden Rill Trade» начала свою деятельность в 1999 году. В настоящее время наша компания является крупнейшим
                            казахстанским производителем питьевой воды. Наши представительства организованы в 6 городах Казахстана.
                            Каждое представительство имеет собственную производственную базу и систему логистики, состоящую из транспорта,
                            складов, налаженных потоков, компьютерной системы управления и контроля за качеством воды. <br />
                            Наша главная цель заключается в том, что бы помочь казахстанцам создать и постоянно поддерживать здоровый
                            образ жизни. С помощью безупречного сервиса прийти самим в каждый дом. Экономя таким образом силы и время
                            каждого человека, позволить людям как можно полнее реализовать свои возможности, как на работе, так и дома.
                        </p>
                        <a href="http://h2o.kz/astana/" target="_blank" class="btn btn-primary">Переход на сайт</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/glassful.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aurasu</h5>
                        <p class="card-text">
                            Наша компания доставляет воду в г. Нур-Султан, г. Кокшетау, г. Щучинск, г. Петропавловск,
                            г. Караганда.<br />Мы осуществляем 8-ми этапную очистку воды: удаление механических примесей; обеззараживание;
                            смягчение; дегазация; удаление металлов; декарбонизация ; обессоливание; деманганация<br />С корпоративными
                            клиентами заключается договор. Оплата осуществляется по безналичному расчету посредством банковского перевода.<br/><br /><b>
                            НАШИ ПРЕИМУЩЕСТВА:</b><br />* ПРИ ЗАКАЗЕ 1 БУТЫЛЯ СТОИМОСТЬ - 700 ТЕНГЕ, ПРИ ЗАКАЗЕ ОТ 2-Х БУТЫЛЕЙ И БОЛЬШЕ - 600 ТЕНГЕ<br />
                            * ДОСТАВКА КАЖДЫЙ ДЕНЬ С 8:00 ДО 22:00<br />* ВОЗМОЖНА СРОЧНАЯ ДОСТАВКА 30 МИНУТ<br />* ОЧИЩЕННАЯ ВОДА
                        </p>
                        <a href="https://aurasu.kz/" target="_blank" class="btn btn-primary">Переход на сайт</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/bottle.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ailyn</h5>
                        <p class="card-text">
                            Наша компания рада предложить вам негазированную очищенную питьевую воду высшей категории «Айлин», расфасованную
                            в бутыли из полиэтилентерефталата емкостью 18.9л.<br/>Данный продукт прошел восемь ступеней очистки и обеззаражен
                            ультрафиолетом, тем самым по результатам лабораторных исследовании, является идеально чистым. Наш товар сертифицирован
                            и имеет декларацию о соответствии евразийского экономического союза. Вода мягкая и приятная на вкус, и мы надеемся,
                            что придет по вкусу всем покупателям.<br/><br/>
                            Мы надеемся на взаимовыгодное и благоприятное сотрудничество с Вами.<br />
                            В свою очередь, мы предлагаем выгодную цену для Вас – 500 тенге.<br />
                            Доставка осуществляется в течений трех часов с момента подачи заявки.
                        </p>
                        <a href="https://ailyn-water.satu.kz/" target="_blank" class="btn btn-primary">Переход на сайт</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

