@{
    ViewBag.Title = "Разработчик: Аширбеков Ринат Буркутбаевич";
}
<div class="container">
    <br/>
    <h1>@ViewBag.Title.</h1>
    <hr/>
    <h4>@ViewBag.Message</h4>

    <address>
        Республика Казахстан<br />
        г. Астана, ул. Туркестан 18/1, кв 59<br />
        <abbr title="Phone">P:</abbr>
        8-778-311-76-34
    </address>

    <address>
        <strong>Mail:</strong>   <a href="http://rinat.ashirbekov.90@mail.ru">rinat.ashirbekov.90@mail.ru</a><br />
    </address>
</div>